<div class="row">
	<div class="col-md-6 center-block">
		<h3>Istorija poseta</h3>
		<table class="table table-hover">
			<tr data-ng-repeat="x in visits">
				<td>{{x.restaurantName + " " + x.date}}</td>
				<td>
					<button class="btn btn-danger" id="ocena+{{x.id}}" name="{{x.id}}"
						data-ng-click="obrisiPrijatelja($event)">
						<i class="glyphicon glyphicon-minus"
							data-ng-click="obrisiPrijatelja($event)"></i>
					</button>
				</td>
			</tr>
		</table>
	</div>
</div>