<h2>Rezervacija stolova</h2>
<canvas id="myCanvas" width="600" height="300"
	style="border: 1px solid #d3d3d3;" data-ng-init="drawTables()">
Your browser does not support the HTML5 canvas tag.</canvas>

<h3>Rezervisi stolove:</h3>
<div class="checkbox" data-ng-repeat="t in tables" data-ng-if="(''+t.isAvailable) === 'true'">
	<label><input type="checkbox" value="" data-ng-model="t.selected">{{t.tableNumber}} - za {{t.numberOfChairs}} osobe </label>
</div>
		

   		
<input type="button" class="btn btn-info" value="Dalje" data-ng-click="reserveTablesNext()">

