				<div class="row">
						<div class="col-md-6 center-block">
							<h3>Moji prijatelji</h3>
							<table class="table table-hover">
								<thead>
									<tr>
										
										<td>
											<a data-ng-click="sortType = 'name'">
												Ime
												<span data-ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
											</a>
										</td>
										<td>
											<a data-ng-click="sortType = 'surname'">
												Prezime
												<span data-ng-show="sortType == 'surname'" class="fa fa-caret-down"></span>
											</a>
										</td>
										<td></td>
									</tr>
								</thead>
							
							
								<tr data-ng-repeat="x in friends | orderBy:sortType:sortReverse">
									<td>
										{{x.name}}
									</td>
									<td>
										{{x.surname}}
									</td>
									<td>
										<button class="btn btn-danger" id="obp+{{x.id}}" name="{{x.id}}"  data-ng-click="removeFriend(x.id)">
											<i class="glyphicon glyphicon-minus"  data-ng-click="removeFriend(x.id)"></i>
										</button>
									</td>
								</tr>
							</table>
							
							<hr>
							
							<h3>Zahtevi</h3>
							<table class="table table-hover">
								<tr data-ng-repeat="x in pendingRequests">
									<td>{{x.name + " " + x.surname}}
										
									</td>
									<td>
										<button class="btn btn-success" data-ng-click="prihvatiPrijatelja(x.id)"  data-ng-hide="x.responded">
											<span class="glyphicon glyphicon-ok" data-ng-click="prihvatiPrijatelja(x.id)"></span>
										</button>
										<button class="btn btn-danger" data-ng-click="odbijPrijatelja(x.id)"  data-ng-hide="x.responded">
											<span class="glyphicon glyphicon-remove" data-ng-click="odbijPrijatelja(x.id)"></span>
										</button>
									</td>
								</tr>
							</table>
						
						
							<hr>
							<input type="text" class="form-control ng-valid ng-dirty" placeholder="Pretraga" data-ng-model="searchKeyword">
							<table class="table table-bordered">
								<tr data-ng-repeat="x in friendSuggestions | filter:filterFn | filter:searchKeyword">
									<td>{{x.name + " " + x.surname}}
										
									</td>
									<td>
										<button class="btn btn-primary" data-ng-click="dodajPrijatelja(x.id)">
											<span class="glyphicon glyphicon-plus" data-ng-click="dodajPrijatelja(x.id)"></span>
										</button>
									</td>
								</tr>
							</table>
						</div>
					</div>
				<!-- </div>
			</div> -->