<div class="login-block">
	<input type="text" placeholder="Ime" data-ng-model="user.name">
	<input type="text" placeholder="Prezime" data-ng-model="user.surname"><br>
	<input type="text" placeholder="E-mail adresa" data-ng-model="user.email">
	<input type="password" placeholder="Lozinka" data-ng-model="user.password"><br>
	<input type="password" placeholder="Ponovite lozinku" data-ng-model="user.lozinka2"><br>
	<br>
	<button data-ng-click="submitRegister()" class="btn btn-danger center-block">Registruj se!</button>
	
</div>
