<style>
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	/*margin: 8px 0;*/
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
</style>


<h3>Nova potraznja</h3>

<label>Od</label>
<div class="input-group date" id="datetimeStart"
	data-ng-init="initDateTimePickerStart()">
	<input type="text" class="form-control" id="dateTextFieldStart" /> <span
		class="input-group-addon"> <span
		class="glyphicon glyphicon-calendar"></span>
	</span>
</div>

<label>Do</label>
<div class="input-group date" id="datetimeEnd"
	data-ng-init="initDateTimePickerEnd()">
	<input type="text" class="form-control" id="dateTextFieldEnd" /> <span
		class="input-group-addon"> <span
		class="glyphicon glyphicon-calendar"></span>
	</span>
</div>

<h2>Spisak namirnica</h2>

<table class="table table-hover">
	<tr data-ng-repeat="i in items">
		<td>{{i.name}}</td>
	</tr>
</table>



<button type="button" class="btn btn-info" data-toggle="modal"
	data-target="#modal">Dodaj namirnicu</button>

<div id="modal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Nova namirnica</h4>
			</div>
			<div class="modal-body">
				<input type="text" placeholder="Naziv" data-ng-model="newItem.name">
			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-info" value="U redu"
					data-ng-click="createNewItem()" data-dismiss="modal">
			</div>
		</div>
	</div>
</div>


<button type="button" class="btn btn-info"
	data-ng-click="createNewDemand()">Napravi potraznju</button>