<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Menager</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
<script src="js/manager.js"></script>
<link rel="stylesheet" type="text/css" href="css/loginStyle.css">
</head>
<body>
	<div class="login-block">
		<div data-ng-app="myApp" data-ng-controller="managerCtrl">
			<input type="text" placeholder="Email" data-ng-model="manager.email">
			<input type="text" placeholder="Password" data-ng-model="manager.password">
			<div class="checkbox">
  			<label><input type="checkbox" value="false" data-ng-model="manager.type">Sistemski manadzer</label>
			</div><br>
			<br>
			<button data-ng-click="clickCreateManager()" class="btn btn-danger center-block">Napravi menadzera</button>
		</div>
	</div>
</body>
</html>